html {
    scroll-behavior: smooth;
}
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato' sans-serif;
}
.wrapper {
    background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
    height: 700px;
    display: inline-block;
    width: 100%;
}
.wrapper span {
    background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'lato' sans-serif;
    text-transform: uppercase;
    display: block;
}
span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text1 {
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 8px;
    margin-bottom: 10px;
    animation: text 3s 1;
    position: relative;
}
.text2 {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 8px;
    animation: text 3s 1;
    position: relative;
}
@keyframes text {
    0%{
        color: black;
        margin-bottom: -30px;
    }
    30%{
        letter-spacing: 25px;
        margin-bottom: 35px;
    }
    85%{
        letter-spacing: 8px;
        margin-bottom: -15px;
    }
}
.nav-list {
    overflow: hidden;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    top: 25px;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000
}
.nav-list > li {
    margin-right: 20px;
    text-transform: uppercase;
    list-style: none;
}
li {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}
li a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}
li:hover {
    border-bottom: 1px solid rgb(60, 129, 209);
}
li a:hover {
    color: rgb(60, 129, 209);
}
#projects {
    height: 700px;
    background-color: #45567d;
    display: inline-block;
    width: 100%;
}
.projects-done {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}
.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 700px;
    display: inline-block;
    background-color: #303841;
}
.contact-section-header {
    display: block;
    margin: 0px;
    padding: 0px;
}
.aboutme-section {
    background: #659dbd;
    height: 700px;
    display: inline-block;
    width: 100%;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.column-page {
    display: flex;
    justify-content: center;
}
.fast-column {
    text-align: center;
    padding: 8px;
    margin: 5px;
    line-height: 1.6;
}
.responsive-column {
    text-align: center;
    padding: 8px;
    margin: 5px;
    line-height: 1.6;
}
.intuitive-column {
    text-align: center;
    padding: 8px;
    margin: 5px;
    line-height: 1.6;
}
.dynamic-column {
    text-align: center;
    padding: 8px;
    margin: 5px;
    line-height: 1.6;
}
h2 {
    text-align: center;
}
.contact-section-header {
    font-style: italic;
    padding: 20px;
    margin: 10px;
}
.contact-links {
    width: 50%;
    text-transform: uppercase;
    -moz-column-count: 3;
}
.contact-links > a {
    color: blue;
    display: block;
    margin: 10px;
    padding: 20px;
    text-decoration: none;
    font-size: 20px;
    opacity: 0.6;
}
.contact-links a:hover {
    opacity: 1;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
 input[type=submit]:hover {
    background-color: #45a049;
}
  
.form-section {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
    width: 50%;
    margin: 10px;
    float: right;
}
label {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 18px;
    float: left;
}
textarea {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.reachme {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-transform: initial;
}
  



    